db/diagnostic.data
client/deadlinebook/package-lock.json
package-lock.json
*.wt
db/journal
*.lock
*.bson
db/WiredTiger
db/diagnostic.data
*.0000000001
*.0000000002
*.wt
*.bson
db/WiredTiger
*.lock
*.turtle
node_modules
client/deadlinebook/package-lock.json
db/mongod.lock
package-lock.json
client/deadlinebook/package-lock.json
